@media screen and (max-width: 576px) {
    .top-banner{
        flex-direction: column;
        text-align: center;
    }
    .top-banner-info h1{
        font-size: 22px;
        line-height: 35px;
        
    }
    .top-banner-info p{
        font-size: 14px;
        margin: 10px 0;
    }
    .top-banner-info a{
        padding: 10px 15px;
    }
    .schedule-container, .blogs-container{
        grid-template-columns: repeat(1, 1fr);

    }
    .footer-menu{
        flex-direction: column;
        row-gap: 20px;
    }
    .world-cup-blogs {
        margin: 20px 0;
        padding: 0;
    }
    .world-cup-blogs .container{
        display: flex;
        flex-direction: column;
    }
    .side-nav{
        width: 100%;
        margin: 0 auto;
        background-color: transparent;
    }
    .side-nav a{
        border: 1px solid #ddd;

    }
    .top-banner-info{
        width: 70%;
    }
    .top-banner-img {
        width: 80%;
    }
    .top-banner-info p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .social-icons{
        display: block;
        margin-top: 50px;
    }
    .social-icons span a{
        color: white;
        display: inline-block;
        padding: 0 10px;
        font-size: 24px;
    }

}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .top-banner{
        flex-direction: row;
        text-align: left;
    }
    .top-banner-info h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 700;
        font-size: 4vw;
        color: rgb(255, 255, 255);
        line-height: 40px;;
    }
    .top-banner-info a{
        padding: 10px 15px;
    }
    .world-cup-blogs{
        padding-top: 0;
    }
    .schedule-container, .blogs-container{
        grid-template-columns: repeat(2, 1fr);

    }
    .side-nav {
        width: 100%;
        height: 325px;
        background-color: transparent;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        border-radius: 5px;
        margin: -120px 0;
    }
    .side-nav a{
        border: 1px solid #ddd;
        width: 100%;
        margin: 10px;
    }

    .side-nav a {
        border: 1px solid #ddd;
        width: 100%;
        margin: 0 5px;
        font-size: 14px;
    }
    .world-cup-blogs .container{
        display: block;
        flex-direction: row;
    }
    
    .view-all{
        display: block;
    }

    .footer-menu {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }
    .top-banner-info p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}