/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lobster&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 
    Fonts name:

    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif; 
*/

/* Common or Utilities CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.container{
    width: 80%;
    margin: 0 auto;
}

/* Custom CSS */

:root{
    --font-poppins: 'Poppins', sans-serif;
}

/* Header CSS */
.world-cup-header{
    margin: 30px 0;  
}
.top-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    padding-bottom: 0;

    background-color: black;
    color: #fff;
    border-radius: 20px;
}
.top-banner-info{
    width: 48%;
}
.top-banner-img{
    width: 48%;
}
.top-banner-info h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
    line-height: 70px;
}
.top-banner-info p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.top-banner-info a {
    color: #fff;
    background: #DD0000;
    padding: 15px 20px;
    border-radius: 5px;
    display: inline-block;
    margin: 15px 0;
    font-family: var(--font-poppins);
    font-size: 1.1em;
    transition: 2s 2s;
}

/* Blogs CSS */

.world-cup-blogs{
    padding: 80px 0;
}
.world-cup-blogs .container{
    display: flex;
}
.blogs-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.side-nav {
    width: 600px;
    height: 325px;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    margin-right: 20px;
}

.side-nav a {
    width: 80%;
    margin: 10px 0;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #161616;
}
.side-nav a:nth-child(3){
    background: #DD0000;
    color: #fff;
}
.blog-item .schedule-item {
    box-shadow: 0px 0px 0px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.blog-details{
    padding: 10px;
}
.blog-details a {
	border: 1px solid #161616;
	padding: 7px 15px;
	display: inline-block;
	border-radius: 3px;
	color: #111;
	font-family: var(--font-poppins);
}
.blog-details h2 {
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #161616;
    padding: 10px 0;
}
.blog-details span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #161616b3;
    margin-right: 20px;
}
.view-all{
    background-color: #DD0000;
    border: none;
    padding: 20px 50px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: none;
    cursor: pointer;
    font-family: var(--font-poppins);
}

/* Scheule match */
.schedule-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    
}
.country-flags{
    display: flex;
    justify-content: center;
    align-items: center;
}
.country-flags h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #161616;
}
.country-flags p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #4D4D4D;
}


/* Footer */
footer{
    background: #161616;
    padding: 80px 0;
    text-align: center;
}
footer h2{
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
}
.footer-menu{
    display: flex;
    justify-content: space-evenly;
}
.footer-menu a{
    color: #B9B9B9;
    font-family: var(--font-poppins);
    font-size: 16px;

}
hr{
    background: #ddd;
    block-size: 1px;
    margin: 30px 0;
}

.social-icons{
    display: none;
}